<div class="container" *ngIf="authService.user$ | async as user">
  <!-- <div class="row" id="roster"> -->
  <!-- <div class="col-md-6">
      <h2>Roster:</h2>
    </div> -->
  <!-- <div class="col-md-6 text-end"> -->
  <!-- <i
    class="mdi action fs-1 mb-2"
    [ngClass]="showAddPlayer ? 'mdi-close-thick' : 'mdi-plus-thick'"
    title="{{ showAddPlayer ? 'Close' : 'Add Player' }}"
    (click)="toggleAddPlayer()"
  ></i> -->
  <!-- <app-add-player
        (onAddPlayer)="addPlayer($event)"
        *ngIf="showAddPlayer == true"
      ></app-add-player> -->
  <!-- </div> -->
  <!-- </div> -->
  <h2>Fantasy Team</h2>
  <app-f-players
    class="row action"
    *ngFor="let fplayer of fantasyTeam"
    [fplayer]="fplayer"
    (removeFPlayer)="removeFromTeam(fplayer)"
  >
  </app-f-players>
  <div class="row d-flex">
    <div class="col-md-4">
      <h4>Player Name</h4>
    </div>
    <div class="col-md-4 text-center"><h4>Position</h4></div>
    <!-- <div class="col-md-4 text-center"><h4>Jersey Number</h4></div> -->
    <hr />
  </div>
  <app-player
    [ngClass]="{ starter: player.starter, bench: !player.starter }"
    class="row border border-3 rounded my-2 border-success action"
    *ngFor="let player of players"
    [player]="player"
    (onToggleStarter)="toggleStarter(player)"
  >
    <!-- <div class="col-md-4 p-3">
      <p>{{ player.playerName }}</p>
    </div>
    <div class="col-md-4 text-center p-3">
      <p>{{ player.position }}</p>
    </div>
    <div class="col-md-3 text-center p-3">
      <p>{{ player.jerseyNumber }}</p>
    </div>
    <div class="col-md-1 mt-2">
      <i
        class="mdi mdi-close-thick text-danger fs-3 action"
        title="release player"
        (click)="releasePlayer(player)"
      ></i>
    </div>
    <div class="col-md-12">
      <app-player></app-player>
    </div> -->
  </app-player>
  <h3 id="fas">Available Players</h3>
  <!-- <app-f-players
    class="row border border-3 rounded my-2 border-success text-dark action"
    *ngFor="let player of availablePlayers"
    [fplayer]="player"
  ></app-f-players>
  <h3 id="fs">Fantasy Scores</h3> -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <form (ngSubmit)="dateSelection()">
            <div class="form-control my-1 col-md-5">
              <label class="form-label me-2" for="year">Year</label>
              <input
                type="number"
                name="year"
                [(ngModel)]="year"
                id="year"
                placeholder="1999-2019"
                max="2019"
                min="1999"
                required
              />
            </div>
            <!-- NOTE This is for weekly scores -->
            <div class="form-control my-1 col-md-4">
              <label class="form-label me-2" for="week">Week</label>
              <input
                type="number"
                name="week"
                [(ngModel)]="week"
                id="week"
                placeholder="1-17"
                min="1"
                max="17"
                required
              />
            </div>
            <button class="mdc-button mdc-button--raised" type="submit">
              <span class="mdc-button__label">Get Results</span>
            </button>
          </form>
        </div>
      </div>
    </div>
    <form (ngSubmit)="filterPlayers()">
      <input
        type="text"
        name="player_name"
        [(ngModel)]="player_name"
        id="player_name"
        placeholder="Player Name..."
      />
      <select
        class="btn btn-secondary text-center m-3"
        name="position"
        id="position"
        [(ngModel)]="playerPosition"
      >
        <option><a class="dropdown-item" selected>Position</a></option>
        <option><a class="dropdown-item">QB</a></option>
        <option><a class="dropdown-item">RB</a></option>
        <option><a class="dropdown-item">WR</a></option>
        <option><a class="dropdown-item">TE</a></option>
        <option><a class="dropdown-item">DEF</a></option>
        <option><a class="dropdown-item">K</a></option>
      </select>
      <button class="btn btn-primary" tybe="submit">Filter</button>
    </form>
    <app-f-players
      class="row action"
      *ngFor="let fplayer of fPlayers"
      [fplayer]="fplayer"
      (toggleFPlayer)="addToTeam(fplayer)"
    >
    </app-f-players>
  </div>

  <div class="modal" tabindex="-1" [ngStyle]="{ display: displayStyle }">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Name Character</h5>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="(nameCharacter)">
            <div class="form-control my-1 col-md-5">
              <label class="form-label me-2" for="characterName"
                >Character Name:</label
              >
              <input
                type="text"
                name="characterName"
                [(ngModel)]="characterName"
                id="characterName"
                placeholder="Character Name..."
                minlength="2"
                required
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="nameCharacter()"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
