h1 {
  color: rgb(1, 85, 81);
  text-shadow: white 1px 1px 1px;
  font-family: fantasy;
  line-height: 125%;
}

a {
  text-decoration: none;
  color: rgb(1, 85, 81);
  text-shadow: white 0.25px 0.25px 0.25px;
}
