<div id="schedule" class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Schedule:</h2>
    </div>
  </div>
  <div
    class="row"
    *appSchedule="let opponent; from: opponents; let ctrl = controller"
  >
    <div class="col-md-12 mb-3">
      {{ opponent }}
    </div>
    <div class="col-md-3">
      <button
        class="mdc-button mdc-button--outlined btn-dark"
        (click)="ctrl.prev()"
      >
        <span class="mdc-button__label">Previous Week</span>
      </button>
    </div>
    <div class="col-md-3">
      <button
        class="mdc-button mdc-button--outlined btn-dark"
        (click)="ctrl.next()"
      >
        <span class="mdc-button__label">Next Week</span>
      </button>
    </div>
  </div>
</div>
