<div
  (dblclick)="onToggle(character)"
  class="row my-3 border border-dark bg-grey rounded hover-style"
>
  <div class="col-md-12">
    <i class="mdi mdi-close-thick bg-danger hidden rounded-circle"></i>
    <div class="row">
      <div class="col-md-3">
        <h4 class="me-2">{{ character.characterName }}</h4>
      </div>
      <div class="col-md-9 mt-2">
        <div class="row justify-content-evenly">
          <p class="text-center col-md-1">Strength</p>
          <p class="text-center col-md-1">Dexterity</p>
          <p class="text-center col-md-1">Charisma</p>
          <p class="text-center col-md-1">Constitution</p>
          <p class="text-center col-md-1">Intelligence</p>
          <p class="text-center col-md-1">Wisdom</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h6>{{ character.race }} {{ character.class }}</h6>
      </div>
      <div class="col-md-9">
        <div class="row justify-content-evenly">
          <p class="text-center col-md-1">{{ character.Strength }}</p>
          <p class="text-center col-md-1">{{ character.Dexterity }}</p>
          <p class="text-center col-md-1">{{ character.Charisma }}</p>
          <p class="text-center col-md-1">{{ character.Constitution }}</p>
          <p class="text-center col-md-1">{{ character.Intelligence }}</p>
          <p class="text-center col-md-1">{{ character.Wisdom }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
